@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Druk Wide";
    src: url("/assets/fonts/DrukWide-Heavy-Web.woff2") format("woff2"),
      url("/assets/fonts/DrukWide-Heavy-Web.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "GT Walsheim";
    src: url("/assets/fonts/GT-Walsheim-Regular.woff2") format("woff2"),
      url("/assets/fonts/GT-Walsheim-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "GT Walsheim medium";
    src: url("/assets/fonts/GT-Walsheim-Medium.woff2") format("woff2"),
      url("/assets/fonts/GT-Walsheim-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    @apply relative text-[28px] leading-[36px];
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-druk text-center;
  }

  h1,
  h2 {
    @apply text-2xl xl:text-[40px] xl:leading-10 max-w-[945px] mx-auto text-center;
  }

  h3 {
    @apply text-[28px] leading-[48px];
  }
}

@layer utilities {
  .home-bg {
    /* background: linear-gradient(to bottom, #5bbdbe 0%, #6f90bd 101.31%); */
    background: linear-gradient(174.11deg, #5bbdbe 0%, #6f90bd 101.31%);
  }

  .live-events-bg {
    background: linear-gradient(174.11deg, #5bbdbe 0%, #cf2b8d 101.31%);
  }

  .notion-magazine-bg {
    background: linear-gradient(174.11deg, #b76091 0%, #d9626e 101.31%);
  }

  .creative-strategies-bg {
    background: linear-gradient(174.11deg, #ffd98f 0%, #ff5500 101.31%);
  }

  .artist-services-bg {
    background: linear-gradient(174.11deg, #b76091 0%, #d9626e 101.31%);
  }

  .container {
    @apply w-5/6 mx-auto max-w-[1471px];
  }

  .bg-overlay-70:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    @apply absolute top-0 left-0 h-full w-full z-10 bg-blend-multiply;
  }

  .bg-faded {
    @apply relative;
  }

  .bg-faded:before {
    content: "";
    height: 212px;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply absolute top-0 left-0 w-full z-10 opacity-20;
  }
}
